<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.socket.io/4.1.0/socket.io.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScentIO</title>

    <link rel="stylesheet" href="/static/style/style.css"/>


</head>
<body>
    <script src="/static/script/socket.js"></script>   

    <p>Display Connected AOI</p>  
    <input type = "button" onclick = "refresh_list()" value = "Display">  
    <p>Turn LED ON or OFF</p>  

    <input type = "button" onclick = "led_on()" value = "LED ON">  
    <input type = "button" onclick = "led_off()" value = "LED OFF">  

    <p>Power circuit</p>  

    <input type = "button" onclick = "power_on()" value = "Power ON">  
    <input type = "button" onclick = "power_off()" value = "Power OFF">  

    <p>Power circuit</p>  

    <input type = "button" onclick = "power_on()" value = "Power ON">  
    <input type = "button" onclick = "power_off()" value = "Power OFF">  


</body>
</html>