<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.socket.io/4.1.0/socket.io.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScentIO</title>

  <!-- <link rel="stylesheet" href="/static/style/style.css" /> -->
  <link rel="stylesheet" href="/static/style.css" />


</head>
<body>

    <p>Display Connected AOI</p>  
    <input type = "button" onclick = "refresh_list()" value = "Display">  
     

    <p>Toggle LED (DEBUG)</p>  

  <div class="toggleWrapper" data-switch="led">
    <div class="customToggle">
      <span class="toggler"></span>
    </div>
    <h3>Led</h3>
  </div>

    <p>Control Power Circuit</p>  


  <div class="toggleWrapper" data-switch="power">
    <div class="customToggle">
      <span class="toggler"></span>
    </div>
    <h3>Circuit Power</h3>
  </div>

    <p>Scent 1 Control</p>  


  <div class="toggleWrapper" data-switch="piezzo1">
    <div class="customToggle">
      <span class="toggler"></span>
    </div>
    <h3>Scent1</h3>
  </div>


    <p>Scent 2 Control</p>  


  <div class="toggleWrapper" data-switch="piezzo2">
    <div class="customToggle">
      <span class="toggler"></span>
    </div>
    <h3>Scent2</h3>
  </div>


    <p>Scent 3 Control</p>  

  <div class="toggleWrapper" data-switch="piezzo3">
    <div class="customToggle">
      <span class="toggler"></span>
    </div>
    <h3>Scent3</h3>
  </div>


    <p>Scent 4 Control</p>  

  <div class="toggleWrapper" data-switch="piezzo4">
    <div class="customToggle">
      <span class="toggler"></span>
    </div>
    <h3>Scent4</h3>
  </div>


  <p>Find the smell</p>  
  <input type = "button" onclick = "find_smell()" value = "Start">  
  

  <script src="/static/socket.js"></script>   

</body>
</html>